<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Profile Update Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
 <body>
    <p th:text="${'Hello User ' + name + '! '}">

    </p>
    <p>
      Your profile pic is updated successfully!!!!!!!!!!!!!!!!.
    </p>

       <p>	   	
   	        <a th:href="${registrationlink}">Registration link</a>
   	 </p>
    <p>
        <img th:src="|cid:cb|" />
    </p>
      Regards, <br />
      <em th:text="${sign}"></em>
      <p th:text="${location}"></p>
      <img th:src="|cid:bankIcon|" />
  </body>
</html> 